---
layout: default
title: Home
---

<h1>Peter Giuffrida</h1>

{% assign max_projects = 8 %}

<p>Senior IT professional with an outstanding track record. High energy performer who implements positive change within organizations. Has four children, <a href="/kids">three</a> of whom are okay.</p>


<div class="group">
  <div class="activity" onclick="window.location='/about';">
    <h3><a href="/about">About Me</a></h3>
    <div class="icon"><i class="fa fa-mortar-board fa-2x"></i></div>
    <p>My background and career.</p>
  </div>
  <div class="activity" onclick="window.location='/projects';">
    <h3><a href="/projects">Projects</a></h3>
    <div class="icon"><i class="fa fa-area-chart fa-2x"></i></div>
    <p>A selection of things I&rsquo;ve done.</p>
  </div>
  <div class="activity" onclick="window.location='/reading';">
    <h3><a href="/reading">Reading</a></h3>
    <div class="icon"><i class="fa fa-book fa-2x"></i></div>
    <p>See books I've read since 2016.</p>
  </div>
  <div class="activity" onclick="window.location='/kids';">
    <h3><a href="/kids">Kids</a></h3>
    <div class="icon"><i class="fa fa-child fa-2x"></i></div>
    <p>I have three amazing children and another one too.</p>
    </div>
</div>

<h3>Recent Stories</h3>
<div class="group">
{% assign counter = 0 %}
{% for post in site.posts %}
    {% if counter < max_projects %}
    {% cycle 'open row': '<div class="clearfix">', nil %}
    <div class="panel{% if post.image %}" style="background-image: url('{{ post.image }}'); {% else %} no-image{% endif %}" onclick="window.location='{{ post.url }}';">
      <div class="transparency">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="post-date">{{ post.date | date: "%B %Y" }}</p>
        <p class="post-excerpt">{{ post.excerpt }}</p>
      </div>
    </div>
    {% cycle 'close row': nil, '</div>' %}
    {% assign counter=counter | plus:1 %}
  {% endif %}
{% endfor %}
</div>

