<div class="sidebar">
  <div class="container sidebar">
	<div class="sidebar-about">
      <a href="/" class="logo"><img src="/resources/images/peter.jpg" width="150rem" height="150rem" /></a>
      <h3 style="text-align:center; margin-top: 10px;">Peter Giuffrida</h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "About Me" %} active{% endif %}">
        <a href="/about/">About Me</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "Projects" %} active{% endif %}">
        <a href="/projects/">Projects</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "Reading" %} active{% endif %}">
        <a href="/reading/">Reading</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "Translations" %} active{% endif %}">
        <a href="/kids/">Kids</a>
      </li>      

      <br>
    
      <a class="sidebar-icon" href="http://www.linkedin.com/in/peter-giuffrida-4443076" style="float:right;"><img src="/resources/li.png" height="32rem" width="32rem" /></a>
      <a class="sidebar-icon" href="https://github.com/pgiuffrida" style="float:right;"><img src="/resources/gh.png" height="32rem" width="32rem" /></a>
      
    </ul>
    

  </div>
</div>
